<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods">
    <test verbose="2" preserve-order="true" name="/Volumes/dev-env/Cloud-testing/Cloud-testing/src/test/java/dockertest/hubtests/MultiBrowserTestingUsingDocker.java">
        <classes>
            <class name="dockertest.hubtests.MultiBrowserTestingUsingDocker">
                <methods>
                    <include name="testBrowser01"/>
                    <include name="testBrowser2"/>
                    <include name="testBrowser3"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>